.container{
     display: flex; 
   flex-direction: column; 
   height: 100vh;
}
.header{
 flex:15%;
   background-color: lightgray;
}
.menu{
   flex:5%; 
background-color: pink;   
}
.content{
   flex:70%;
   background-color:lightblue;
}
.footer{
   flex:10%;
   background-color: lightgray;
}
   
hl {
   color: red ;
   text - align: center;
}
td {
   text - align: center;
}
h2 {
   color: green ;
}
h3 {
   color: yellow ;
}
.tieude {
   color: tomato;
   font-size:  25pt;
   top-margin: 18pt; 
}

.noidung {
    color: black;
     font-size: 15pt;
     top-margin: 6pt;
}
