hl {
   color: red ;
   text - align: center;
}
td {
   text - align: center;
}
.tieude {
   color: tomato;
   font-size:  25pt;
   top-margin: 18pt; 
}
.tieude {
   color: tomato;
   font-size:  25pt;
   top-margin: 18pt; 
}
.tieude {
   color: tomato;
   font-size:  25pt;
   top-margin: 18pt; 
}
.noidung {
    color: black;
     font-size: 15pt;
     top-margin: 6pt;
}
